/* src/components/Lottery.module.css */
.pageContainer {
  padding-left: 10vw;
  padding-right: 10vw;
}

/*.title {*/
/*  font-size: 3em;*/
/*  color: black;*/
/*  text-align: center;*/
/*  background-color: #ffffff;*/
/*}*/
.sphere {
  width: 36vmin;
  height: 36vmin;
  background-color: rgba(30, 144, 255, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8em;
  font-weight: bold;
  box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.2), inset 5px 5px 10px rgba(255, 255, 255, 0.1), 0 0 20px rgba(30, 144, 255, 0.8);
  backdrop-filter: blur(10px);
}

.sphereContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lottery {
  font-family: sans-serif;
  text-align: center;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navLink {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: underline;
  color: limegreen;
  font: inherit;
  cursor: pointer;
  padding: 0;
  margin: 0;
  outline: none;
}

/* src/components/Lottery.module.css */

.ball {
  background-color: rgba(0, 0, 255, 0.5); /* Add transparency to the background color */
  border-radius: 50%;
  display: inline-block;
  width: calc(100vw / 4);
  height: calc(100vw / 4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12em;
  font-weight: bold;
  color: white;
  margin: 0 calc(100vw / 60);
  box-shadow: -25px 0 15px rgba(0, 0, 255, 0.3); /* Add a blue shadow */
  position: relative;
}

.groupDraw .ball {
  width: calc(100vw / 4);
  height: calc(100vw / 4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12em;
  font-weight: bold;
  color: white;
}

.floatingText {
  position: fixed;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: orangered;
  font-size: 1.5rem;
  font-weight: bold;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.title {
  font-size: 3rem;
  color: white;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

